/**
 * =======================================
 * ARTICLE PAGE
 * =======================================
 */
main.main > div.col-sm-8 {
	padding: 0 0;
}
.single {
	.preprint-container{
		padding: 0 0px;

		 margin-top: -25px;
		margin-left: -50px;
		margin-right: -55px;
		margin-bottom: 25px;
	}
	.preprint {
		display: block;

		text-align: center;
		width: 100%;
		padding: 10px;

		background: #111;
		font-size: 1.375em;
		
		border-bottom: 5px solid #7a0000;
		padding-bottom: 2px;
		strong{
			letter-spacing: 11px;
			color: #BBB;
		}
	}
	.video-container {
		margin: 0 -25px;
		margin-right: -55px;
		margin-top: -25px;
		margin-bottom: 25px;
		.video-area{
			position: relative;
			//min-height: 400px;
			.clearfix();
			background: #000;
			// container for the actual video
			.video-holder{
				position: relative;
				float: left;
				margin:0;
				padding:0;

				.wistia_embed{
					display: none;
					//position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}

			}
			// generated chapters
			#chapters{
				float: left;
				padding: 0px 0px;
				width: 100%;
				font-size: 0.8125em;
				h3{
					color: #999;
					text-align: center;
					margin-bottom: 15px;
					text-transform: uppercase;
					font-weight:700;
					margin-top:10px;
				}
				ul{
					list-style: none;
					padding: 0;
					li{
						margin: 2px 0;
						a{
							display:block;
							background: #333;
							padding:4px 10px;
							text-decoration: none;
							color:#999;
							&:hover{
								background:#555;
							}
						}
						&.current{
							a{
								background:#555;
							}
							font-weight:700;
						}
						&.done:not(.current) a{
							background:#111;
							&:hover{
								background:#555;
							}
						}
					}
				}
			}
			div.hide-chapter{
				position: relative;
				text-align: center;
				display: block;
				width: 100%;
				float: left;
				/* padding: 10px 0px; */
				margin-bottom: 5px;
				margin-top: -5px;
				a#hide-chapter-btn{
					display: block;
					background: #444;
					background: rgba(255, 255, 255, 0.1);
					padding: 3px 0px;
					color: #aaa;
					text-decoration: none;
					font-size: 0.8125em;
					&:hover{
						background: #666;
						background: rgba(255, 255, 255, 0.15);
						color: #ccc;
					}
				}
			}
		}
	}
	.wrap {

		background: #fff;
		color: #111;
		padding: 50px 25px;
		padding-top: 25px;
		margin: 0 auto;
		font-size: 0.875em;

		h1.entry-title{
			margin-top: 0px;
			font-size: 1.375em;
			font-weight: bold;
		}
		h3{
			font-weight: 700;
		}
		h4{
			font-size: 1.375em;
			font-weight: 700;
		}
		 h5{
			color: #000;
			font-size: 1.125em;
			font-weight: 600;
		}

		// tabs to switch between article and outline
		ul.nav.nav-tabs {
			li {
				a {
					padding: 5px 10px;
				}
			}
		}

		a {
			.pdf{
				background: url("/assets/img/icons/pdficon_small.png");
				background-repeat: no-repeat;
				padding-left: 18px;  /* width of the image plus a little extra padding */
				display: block;  /* may not need this, but I've found I do */
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
		.kcite-boilerplate {
			display: none;
		}
		.kcite{
			font-variant: small-caps;
			a span, a:hover{
				text-decoration: none !important;
			}
		}
		.kcite-boilerplate{
			font-family: Consolas;
			font-size: 0.875em;
			color: #333;
			padding: 15px 25px;
			background: #f5f5f5;
			margin: 14px 0 30px;
		}
		#comment{
			width: 100% !important;
		}
	}
}


//* MOBILE

@media (max-width: 768px) {
	.single {
		.preprint-container{
			
		}
		.video-container {
			
			.video-area{
				margin: 0;
				.video-holder{
					width:100%;
				}
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	main.main > div.col-sm-8 {
		padding: 0 15;
	}
	.single{
		.preprint-container{
			margin: -50px;
			 margin-bottom: 50px;
		}
		.video-container {
			margin: 0px -50px;
			margin-top: -50px;
			margin-bottom: 25px;
			.video-area {
				#chapters{
				  width: 25%;
				  padding-right: 2px;
				  overflow: hidden;

				  //transition: 0.5s all ease-in-out;
				  //-webkit-transition: 0.5s all ease-in-out;
				}
				div.hide-chapter{
					position: absolute;
					bottom: 5px;
					left: 0;
					width: 25%;
					padding: 0px 5px;
					margin-bottom: 0px;
					margin-top: 0px;
					a#hide-chapter-btn{
						border-radius: 5px;
					}
				}
				.video-holder{
				  width: 75%;

				  //transition: 0.5s all ease-in-out;
				  //-webkit-transition: 0.5s all ease-in-out;
				}
			}
		}
		.wrap{
			border-radius: 0;
			padding: 50px 50px;
			font-size: 1em;

			h1.entry-title{
				font-size: 2.25em;
				font-weight: normal;
			}

			// tabs to switch between article and outline
			ul.nav.nav-tabs {
				li {
					a {
						padding: 10px 15px;
					}
				}
			}
		} 
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  
	
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}