/**
 * =======================================
 * ARTICLE PAGE
 * =======================================
 */
.access-block{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.9);
	//border: 10px rgba(255, 0, 0, 0.75);
	//border-style: dashed;
	background-image: url('./../img/diagonal_tile_red.png');

	.free-trial{
		h1{
			text-align: center;
		}
		p {
			text-align: center;
			font-size: 16px;
		}
		.wpcf7 input[type="email"]{
			width: 25%;
		}
		.wpcf7 input[type="submit"].btn{

			margin-top: 0px !important;
			padding: 5px 10px !important;
			color: #fff;
			&:hover{
				color: #444;
			}

			transition: all 0.15s ease-in-out;
    		-webkit-transition: all 0.15s ease-in-out;
		}
		div#email-error{
			display: none;
			width: 25%;
			text-align: center;
			position: relative;
			margin-left: 37.5%;
			padding: 10px 15px;
			font-size: 16px;
			font-weight: 700;
			background: rgb(199, 58, 58);
			margin-bottom: 10px;
			border-radius: 10px;

			animation: flash 0.3s infinite;
			-webkit-animation: flash 0.3s infinite;
			animation-play-state: paused;
			-webkit-animation-play-state: paused;

			transition: all 0.5s ease-in-out;
			-webkit-transition: all 0.5 ease-in-out;
		}
		@-webkit-keyframes flash {
			0% {	background: #FFC8C8;}
			100% {	background: rgb(199, 58, 58);}
		}
		@keyframes flash {
			0% {	background: #FFC8C8;}
			100% {	background: rgb(199, 58, 58);}
		}
	}
}