//* CONTENT

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.single, .page{
   font-size:16px;
}

.single .video-area{
   .clearfix();
   background: #000;
}

.single #chapters{
   float: right;
   padding: 10px 0;
   display:none;
   float:left;
   padding-right:2px;
   h3{
      color: #999;
      text-align: center;
      margin-bottom: 15px;
      text-transform: uppercase;
      font-size:14px;
      font-weight:700;
      margin-top:10px;
   }
   ul{
      list-style: none;
      padding: 0;
      li{
         margin: 2px 0;
         a{
            display:block;
            background: #333;
            padding:4px 10px;
            text-decoration: none;
            color:#999;
            &:hover{
               background:#555;
            }
         }
         &.current{
            a{
               background:#555;

            }
            font-weight:700;
         }
         &.done:not(.current) a{
            background:#111;
            &:hover{
               background:#555;
            }
         }
      }
   }
}

.single .video-holder{
   float:left;
   margin:0;
   padding:0;
}

.articles .wrap, .category .wrap {
   margin-left: 0px;
   margin-right: 0px;
   padding-right: 0px;
   padding-left: 0px;
   background: rgba(0, 0, 0, 0.0) !important;
   h1{
      color: #fff;
   }
   .content .sidebar h3{
      color: #fff;
   }
   .content .main article{
      outline: rgba(0,0,0,0) solid 1px;
   }
   .content .main .page-header {
      border: none;
   }
   .sidebar{
      h3{
         font-size: 18px;
      }
      ul li{
         list-style-type: none;
         //margin-bottom: 10px;
         &.current-cat a{
            color: rgba(255, 255, 255, 0.8);
            border-color: rgba(255, 255, 255, 0.8);
            background: rgba(255, 255, 255, 0.1);
         }
         &.coming-soon a{
            color: rgba(255, 255, 255, 0.3);
            border-color: rgba(255, 255, 255, 0.3);
            background: rgba(255, 255, 255, 0.03);
            &:hover{
               color: rgba(255, 255, 255, 0.5);
               border-color: rgba(255, 255, 255, 0.5);
               background: rgba(255, 255, 255, 0.05);
            }
         }
         a{
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;
            display: block;
            padding: 8px 10px;
            border-radius: 25px;
            border: 2px solid rgba(255, 255, 255, 0.6);
            margin-bottom: 10px;
            font-size: 18px;
            &:hover{
               border-color: rgba(255, 255, 255, 1.0);
               color: rgba(255, 255, 255, 1.0);
            }
         }
      }
   }
}
.single .wrap, .page:not(.home) .wrap,.archive .wrap, .search .wrap{
   background: #fff;
   color: #111;
   padding: 50px 50px;
   margin-bottom:30px;
}


.page .kcite-boilerplate {
	display: none;
}
// ------------------
// ARTICLE THUMBNAILS
// ------------------
article {
   margin-bottom: 10px !important;
   margin-left: -15px;
   margin-right: -15px;

   position: relative;
   a img{
      width: 100%;
      height: 100%;
   }
   h4{
      font-weight: bold;
   }
   .article-overlay{

      margin: 0 0px;
      margin-bottom: -10px;
      padding: 10px;
      padding-left: 15px;
      padding-right: 15px;
      position: absolute;
      bottom: 10px;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      //height: 130px;

      h3.entry-title{
         margin-top:0;
         margin-bottom: 0px;
         font-size: 12px;
         text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
         a {
            color: #fff;
            text-decoration: none;
            opacity: 1;
         }
      }
      p {
         color: #ccc;
         margin: 0px 0px;
         font-size: 10px;
         a{
            color: #ccc;
            font-weight: 700;
            font-size: 10px;
            text-decoration: none;
         }
      }
      h4{
         margin-top: 0px;
         margin-bottom: 0px;
         color: #999;
         font-size: 10px;
      }
   }
   .unavailable{
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      h3{
         position: relative;
         color: #fff;
         display: block;
         text-align: center;
         font-size: 36px;
      }
   }
   h5{
      position: absolute;
      z-index: 1;
      color: #fff;
      background: #8F0000;
      padding: 5px;
      top: 0;
      right: 10px;
      font-size: 14px;
      font-weight: bold;
      border-radius: 5px;
   }
}

.sidebar{
   .author{
      display:block;
      margin-bottom:10px;
      background: #f8f8f8;
      border:3px solid #eee;
      color:#111 !important;
   }
   .author:hover{
      border:3px solid #428bca;
   }
   .author .avatar{
      float: left;
      margin-right:5px;
      img{
         width: 64px;
      }
   }
   .author .bio{
      width: 250px;
      float: left;
   }
   .author h4{
      font-size: 14px;
      font-weight:700;
      margin:5px 0;
   }
   .author h5{
      font-size: 12px;
      margin-top: 0;
      margin-bottom: 0;
   }  
   .pub-info{
      display:block;
      margin-bottom:0px;
      background: #f8f8f8;
      padding:5px 15px;
   }
}

.article-container{
   /*margin-left: -34px;
   margin-right: -34px;
   margin-top: -48px;
   margin-bottom: -50px;*/
}

.kcite{
   font-variant: small-caps;
   a span, a:hover{
      text-decoration: none !important;
   }
}
.kcite-boilerplate{
   font-family: Consolas;
   font-size: 14px;
   color: #333;
   padding: 15px 25px;
   background: #f5f5f5;
   margin: 14px 0 30px;
}

.page-header{
   margin-top:0;
   h1{
      margin-top:0;
   }
}

.csl-entry{
   font-variant: small-caps;
}



//* MOBILE

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

   .single .wrap, .page:not(.home) .wrap, .archive .wrap, .search .wrap{
      border-radius: 0;
   } 

   .articles .wrap, .category .wrap {
      margin-right: auto;
      margin-left: auto;
     padding-right: auto;
     padding-left: auto;
   }  
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   article {
      .article-overlay{
         h3.entry-title{
            font-size: 20px;
         }
          p{
            font-size: 14px;
            a{
               font-size: 14px;
            }
         }
         h4{
            font-size: 12px;
         }
      }
      img{
         width:100%;
         height:100%;
      }
   }
   .article-overlay{
      //height: 125px;
   }
   .sidebar ul li a {
      padding: 10px 25px !important;
   }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}