//* CONTENT
// general page/template styles

//.subscribers .wrap, .about .wrap, .contact .wrap, .notifications .wrap, .pricing .wrap, body.video .wrap, .planned .wrap, .index .wrap{
.page div.container.wrap{
   background: @jomi-light;
   color: @jomi-dark;
   padding: 50px 25px;
   padding-top: 5px;
   margin: 0 auto;
   font-size: 16px;
   .content.row{
   	margin: 0 0px;
   }
}
.home.page div.container.wrap{
   padding: 0px;
   background: none !important;
   color: @jomi-light;
}

// * SUBSCRIBERS PAGE
.subscribers .wrap {
	font-size: 16px;
   a.btn, input.btn{
      color: @jomi-grey;
      border-color: @jomi-grey;
      &:hover{
         color: @jomi-light-grey;
         border-color: darken(@jomi-grey, 25%);
      }
   }
}

//* ARTICLE INDEX PAGE
.index .wrap {
   a{
      font-weight: bold;
   }
}

//* MOBILE

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}