//* HEADER




nav.site-header{
   .clearfix();
   //margin-bottom: 0px;
   .logo{
      float: left;
      padding-top: 15px;
      position: relative;
      left: 48px;
   }
   input.search{
      position: relative;
      left: 5px;
      top: 5px;
      margin-top: -10px;
   }
   .search-icon{
      position: relative;
      left: -284px;
      top: 8px;
      opacity: 0.7;
   }

   .collapse {
      ul{
         .clearfix();      
         font-size:15px;      
         li{
            margin-left: 10px;
               a{
                  color: #fff;
                  opacity:0.8;
                  &:hover{
                     opacity:1;
                     text-decoration:none;
                     color:#fff;
                  }
         }
      }
   }
}
      //float:right;
   .mobile-menu {
      margin-bottom: 0px;
      .panel {
         background: rgba(0, 0, 0, 0);
         .panel-heading {
            padding: 15px 15px;
            .panel-title a{
               float: right;
               margin-top: -15px;
               margin-right: 15px;
               border: 2px solid #fff;
               border-radius: 15px;
               background: rgba(255, 255, 255, 0.0);
               &:hover{
                  background: rgba(255, 255, 255, 0.1);
               }
               .glyphicon{
                  margin: 3px 15px;
                  top: 2px;
               }
            }
         }
         .panel-collapse {
            .collapsing{
               overflow: visible;
            }
            //width: 
            ul.panel-body {
               border: none;
               padding: 0 15px;
               margin-top: 20px;
               list-style-type: none;
               a{
                  color: #fff;
                  opacity: 0.8;
                  text-decoration: none;
                  &:hover{
                     opacity: 1.0;
                  }
                  li{
                     background: rgba(255, 255, 255, 0.1);
                     padding: 8px 15px;
                     border-bottom: 1px solid #aaa;
                     &.top{
                        border-top: 1px solid #aaa;
                        //border-top-left-radius: 15px;
                        //border-top-right-radius: 15px;
                     }
                     &.bottom{
                        //border-bottom-left-radius: 15px;
                        //border-bottom-right-radius: 15px;
                     }
                     &:hover{
                        background: rgba(255, 255, 255, 0.2);
                     }
                  }
               }
               .search-mobile{
                  width: 100%;
                  background: rgba(255, 255, 255, 0.1);
                  border: none;
                  border-bottom: 1px solid #aaa;
                  border-radius: 0px;
                  padding: 8px 15px;
                  color: #fff;
               }
               .panel-collapse{
                  z-index: -2000;
                  input{
                     width: 100%;
                  }
               }
            }
         }
      }
   }
}

.navbar-toggle{
   margin-right:60px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   border-color:rgba(0,0,0,0);
}

.navbar-form {
border-top: 0px solid transparent;
border-bottom: 0px solid transparent;
margin-top: 7px;
margin-bottom: 0px;
margin-right: -15px;
-webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,0.1),0 0px 0 rgba(255,255,255,0.1);
box-shadow: inset 0 0px 0 rgba(255,255,255,0.1),0 0px 0 rgba(255,255,255,0.1);
}

.navbar-collapse {
   margin-top:15px !important;
margin-right: 15px !important;
margin-left: 15px !important;
}

//* MOBILE

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   nav.site-header{
      .logo{
         margin-left: 0px;
         left: 0px;
         padding-top: 26px;
         img{
            width: 80%;
         }
      }
      .collapse {
         border-top: 0px;
         ul{
            .clearfix();            
            list-style:none;
            font-size:15px;     
            padding-left: 0px;       
            li{
               float:right;
               margin-left:15px;
               a{
                  top:6px;
                  color: #fff;
                  padding: 8px 0;
                  opacity:0.8;
                  &:hover{
                     opacity:1;
                     text-decoration:none;
                     color:#fff;
                  }
                  &.active{ font-weight: bold;}
               }
               &.open a.border{
                  border-radius: 20px 20px 0 0;
                  background: #fff;
                  color: #000;
                  text-decoration: none;
               }
               
            }
         }
      }
   input.search{
      position: relative;
      left: 30px;
      margin-top: -10px;
   }
   .search-icon{
      position: relative;
      left: -135px;
      top: 8px;
      opacity: 0.7;
   }
   }
.navbar-toggle{
   margin-right:15px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   border-color:#e7e7e7;
}

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  nav.site-header{
     .collapse ul li {
         margin-left: 25px;
         a.border {
            padding: 9px 25px;
         }
         a.border{
            border-radius: 25px;
            border: 2px solid #fff;
            padding: 8px 45px;
            top: 5px;
         &:hover{
            background:rgba(255,255,255,0.2);
          }
         }
      }
   input.search{
      position: relative;
      left: 10px;
      margin-top: -10px;
   }
   .search-icon{
      position: relative;
      left: -278px;
      opacity: 0.7;
   }
   }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   nav.site-header{
      .collapse ul li {
         margin-left: 40px;
         a.border {
            padding: 9px 40px;
         }
      }
   input.search{
      position: relative;
      left: 30px;
      margin-top: -10px;
   }
   .search-icon{
      position: relative;
      left: -275px;
      opacity: 0.7;
   }
   }
}
