//* HEADER

nav.site-header{

   //background: rgba(0, 0, 0, 0);
   background: none;
   //border-color: rgba(0, 0, 0, 0);
   border: none;
   margin-bottom: 0px;

   .clearfix();

   .navbar-header{
      button.navbar-toggle{
         //margin-right:60px;
         right: 40px;
         margin-top: 15px;
      }
      .logo{
         float: left;
         padding-top: 15px;
         position: relative;
         left: 48px;
      }
   }

   .navbar-collapse.collapse, .navbar-collapse.collapsing {

      margin: 5px 10px 0px 10px;
      border-top: none;
      box-shadow: none;

      form.navbar-form {
         border-top: 0px solid transparent;
         border-bottom: 0px solid transparent;
         margin: 0px 25px;
         margin-top: 10px;
         //margin-right: -15px;
         padding: 0px 0px 10px 0px;
         -webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,0.1), 0 0px 0 rgba(255,255,255,0.1);
         box-shadow: inset 0 0px 0 rgba(255,255,255,0.1),0 0px 0 rgba(255,255,255,0.1);
         z-index: 5;
         div.form-group.has-feedback{
            input.form-control.search-field{
               padding-left: 34px;
               background: none;
               color: #fff;
               width: 100%;
               border-radius: 0px;
               border-left: none;
               border-right: none;
               border-width: 1px;
               border-color: #aaa;
               &:focus{
                  border-color: inherit;
                  box-shadow: none;
                  -webkit-box-shadow: none;
               }
            }
            i.search-icon {
               top: 0;
               left: 0;
            }
         }
      }

      ul.navbar-nav{
         .clearfix();      
         font-size:15px; 
         padding-bottom: 0px;     
         margin: 0px 0px;
         li{
            margin-left: 10px;
            a{
               color: #fff;
               opacity:0.8;
               &:hover{
                  opacity:1;
                  text-decoration:none;
                  color:#fff;
               }
               &:hover.dropdown-toggle{
                  color: #fff;
               }
               &.dropdown-toggle{
                  color: #fff;
               }
               &.border[href="/login/"]{
                  color: #fff;
               }
            }
            .dropdown-menu{
               border: 0px solid;
               background-color: #ffffff;
               box-shadow: 0 6px 12px rgba(0,0,0,0.175);
               padding: 15px; 
               z-index: 5;
               .login-form{
                  z-index: 5 !important;
                  color: #000;
                  input{
                     border-radius: 25px;
                     color: #000;
                  }
                  form{
                     p {
                        a.register{
                           color: #000 !important;
                           font-size: 16px;
                           line-height: 2.5;
                        }
                        &.error{
                           display: block;
                           background: #eee;
                           padding: 10px;
                           border-left: 5px solid #E00;
                           border-radius: 5px;
                        }
                        &.login-submit{
                           margin: 0px;
                           #submit{
                              margin-top: 0px !important;
                              float: left;
                              border-radius: 25px 0px 0px 25px;
                           }
                        }
                     }
                  }
                  .social-box{
                     max-height: 40px;
                     overflow: hidden;
                  }
               }
            }
            &.open {
               a.dropdown-toggle{
                  color:#fff;
                  .dropdown-menu {
                     float: none;
                     width: auto;
                     margin: 0;
                     background-color: #ffffff !important;
                     border: 0;
                     box-shadow: none;
                     z-index: 5;
                     color: #000000;
                  }
               }  
            }
         }
      }
   }
   .btn {
      border: 1px solid #bbb;
      font-weight: 500;
      color: #000;
   }
}

.iegate,.jsgate{
   background-color: #111;
   color: #fff; 
   position:relative; 
   width:100%; 
   height:10%; 
   top:0px; 
   left:0px; 
   z-index:1000; 
   text-align: center; 
   padding-top: 15px; 
   padding-bottom: 10px; 
   border-bottom: 5px solid #7a0000; 
   font-size: 24px;
   display: none;
}

//* MOBILE

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   nav.site-header{
      margin-bottom: 20px;
      margin-top: 32px;
      .navbar-header{
         width: initial;
         button.navbar-toggle{
            margin-right:15px;
         }
         .logo{
            margin-left: 0px;
            left: 0px;
            padding-top: 18px;
            img{
               width: 80%;
            }
         }
      }
      .navbar-collapse.collapse, .navbar-collapse.collapsing {
         margin-right: 15px;
         margin-left: 15px;
         form.navbar-form{
            border-color:#e7e7e7;
            width: 30% !important;
            margin-right: -15px;

            div.form-group.has-feedback{
               input.form-control.search-field{
                  border-radius: 25px;
                  border: 2px solid #fff;
               }
            }
         }

         ul.navbar-nav{       
            list-style:none;
            font-size:16px;     
            padding-left: 0px;       
            li{
               float: right;
               margin-left:15px;
               a{
                  top:6px;
                  color: #fff !important;
                  padding: 8px 0;
                  &.active{ 
                     font-weight: bold;
                     //ie8 fallback
                     border-bottom: 1px #888 solid;

                     border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
                  }
               }
               &.open a.border{
                  border-radius: 20px 20px 0 0;
                  border-bottom: 0px solid #000 !important;
                  text-decoration: none;
               }
            }
         }
      }
   }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  nav.site-header{
     .navbar-collapse.collapse, .navbar-collapse.collapsing {
         ul.navbar-nav {
            li {
               margin-left: 25px;
               a.border {
                  padding: 9px 25px;
               }
               a.border{
                  border-radius: 25px;
                  border: 2px solid #fff;
                  padding: 8px 45px;
                  top: 5px;
                  &:hover{
                     //ie8 fallback
                     background: #333;

                     background:rgba(255,255,255,0.2);
                  }
               }
               a.border[href="#"]{
                  color: #fff;
               }
               &.open a.border{
                  border-radius: 20px 20px 0 0;
                  //ie8 fallback
                  background: #000;

                  background: rgba(0,0,0,0);
                  color: #000;
                  text-decoration: none;
               }
            }
         }
      }
   }
}




/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   nav.site-header{
      .navbar-header{
         width: initial;
      }
      .collapse ul li {
         margin-left: 40px;

      }
   input.search{
      position: relative;
      width: inherit;
   }

   }
}

