/*
 * ==========================================
 * ARTICLE LISTING PAGES (categories, search, all articles, archives)
 * ==========================================
 */

.articles div.container.wrap, .category div.container.wrap, .search div.container.wrap, .archive div.container.wrap{

   margin: 0 0px 0px 0px;
   padding: 0px 0px 0 0px;
   //ie8 fallback
   background: #000;

   background: rgba(0, 0, 0, 0.0);

   h1{
      color: #fff;
   }
   .content.row{
      margin: 0 0px;
      .main {
         padding: 0 0px;
         .page-header {
            border: none;
         }
      }
   }
}
/*
 * Archive page specific less
 */
.archive {
   .wrap{
      margin: 0 25px;
      .page-header{
         margin-top: 0px;
         margin-bottom: 0px;
         h1{
            margin-top: 0px;
         }
      }
   }
}
/*
 * Author archive less
 */
.author {
   .author-info{
      padding: 0 50px;
   }
}


//* MOBILE

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   .articles div.container.wrap, .category div.container.wrap, .search div.container.wrap, .archive div.container.wrap{
      margin-right: auto;
      margin-left: auto;
      padding-right: auto;
      padding-left: auto;
      padding-top: 50px;
   }
   /*
    * Archive page specific less
    */
   .archive {
      div.container.wrap{
         padding-top: 25px;     
      }
   }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}
   