//* UI

*:focus {outline: none;}

input[type=text], input[type=password], input[type=email], textarea{
   border: 2px #ddd solid;
   font-size: 16px;
   border-radius: 5px;
   color: #111;
   padding: 5px 8px;
   &.error{
      border-color: #CE0000;
   }
   &.border{
      background:rgba(255,255,255,0.2);
      border-radius: 25px;
      border: 2px solid #fff;
      background: transparent;
      padding: 4px 35px;
      color: #fff;
      opacity:0.8;
      &:hover{
         background:rgba(255,255,255,0.2);
      }
   }
}

.wpcf7 input[type=text], .wpcf7 input[type=password], .wpcf7 input[type=email]{
   width:70%;
}
.wpcf7 textarea{
   width:100%;
}

.btn {
   display: inline-block;
   padding: 4px 10px 4px;
   margin-bottom: 0; // For input.btn
   font-size: 16px;
   font-weight: 700;
   color: #333;
   text-align: center;
   vertical-align: middle;
   border: 1px solid #ccc;
   border: 2px solid darken(#eee, 20%);
   border-radius: 25px;
   cursor: pointer;
   background: #DDD;
  &.border{
    border: 2px #ddd solid;
    background: transparent;
    color: #999;
    text-shadow: none;
    &:hover{
      color: #555;
      background-color: #f8f8f8;
    }
  }
  &.white{
    border: 2px #ddd solid;
    background: #fff;
    color: #999;
    text-shadow: none;
    &:hover{
      color: #555;
      background-color: #f8f8f8;
    }
  }
}
.btn-submit {
   background: #fff;
   color: #888;
   font-weight: 500;
   border: 2px solid #ddd;
   border-radius: 25px;
   width: 100px;
   &:hover {
      background: #eee;
      border-color: #aaa;
      color: #555;
   }
}

// Large
.btn.large {
  padding: 8px 14px;
  width: 200px;
}
.btn.large [class^="icon-"] {
  margin-top: 1px;
}

//Fat
.btn.fat {
  padding: 8px 35px;
}
.btn.fat [class^="icon-"] {
  margin-top: 1px;
}

// Small
.btn.small {
  padding: 5px 9px;
}
.btn.small [class^="icon-"] {
  margin-top: -1px;
}

// Mini
.btn.mini {
  padding: 2px 6px;
}

//* MOBILE

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   input[type=text], textarea{
      &.border{
         width: 175px;
      }
   }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   input[type=text], textarea{
      &.border{
         width: auto;
         padding: 4px 35px;
      }
   }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   input[type=text], textarea{
      &.border{
         padding: 4px 45px;
      }
   }
}